# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames, Random

In [29]:
# Seed the random number generator
Random.seed!(1234);

In [35]:
# Question 1: Create a dataframe named df1 with 30 rows and 4 columns
df1 = DataFrame(rand(30,4))

30×4 DataFrame
│ Row │ x1        │ x2        │ x3       │ x4        │
│     │ Float64   │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.354199  │ 0.915681  │ 0.068166 │ 0.0273653 │
│ 2   │ 0.1329    │ 0.372323  │ 0.211122 │ 0.0569291 │
│ 3   │ 0.30075   │ 0.113032  │ 0.17566  │ 0.840961  │
│ 4   │ 0.194507  │ 0.670174  │ 0.170987 │ 0.969741  │
│ 5   │ 0.883704  │ 0.140473  │ 0.481834 │ 0.274452  │
│ 6   │ 0.0677996 │ 0.0813266 │ 0.864876 │ 0.0843292 │
│ 7   │ 0.0288386 │ 0.469878  │ 0.264359 │ 0.162723  │
│ 8   │ 0.564608  │ 0.993997  │ 0.861325 │ 0.979329  │
│ 9   │ 0.598869  │ 0.355822  │ 0.843625 │ 0.0443796 │
│ 10  │ 0.303656  │ 0.165132  │ 0.493895 │ 0.419696  │
⋮
│ 20  │ 0.182757  │ 0.52376   │ 0.377464 │ 0.307514  │
│ 21  │ 0.836482  │ 0.661835  │ 0.149005 │ 0.129393  │
│ 22  │ 0.438327  │ 0.833012  │ 0.538435 │ 0.727883  │
│ 23  │ 0.689977  │ 0.498856  │ 0.369212 │ 0.322866  │
│ 24  │ 0.372259  │ 0.937867  │ 0.500337 │ 0.574287  │
│ 25  │ 0.294863  │ 0.956888  │ 0.344757 │ 0.694646  │
│ 26  │ 0.696311  │ 0.610266  │ 0.929902 │ 0.523705  │
│ 27  │ 0.332355  │ 0.0296453 │ 0.520697 │ 0.223059  │
│ 28  │ 0.415085  │ 0.685393  │ 0.613    │ 0.873127  │
│ 29  │ 0.603624  │ 0.677079  │ 0.144613 │ 0.627157  │
│ 30  │ 0.0443766 │ 0.695753  │ 0.465207 │ 0.746626  │

In [31]:
# Question 2: Calculate mean and variance of each column of df1
#println(colwise(mean, df1)),  colwise depricated
println(mapcols(mean, df1))
#println(var(df1))
println(mapcols(var, df1))

1×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.501489 │ 0.416045 │ 0.437263 │ 0.530486 │
1×4 DataFrame
│ Row │ x1       │ x2        │ x3        │ x4        │
│     │ Float64  │ Float64   │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┼───────────┤
│ 1   │ 0.106535 │ 0.0636044 │ 0.0756871 │ 0.0766205 │

In [42]:
# Question 3: Create a new dataframe named df2 from the last 20 rows of df1
df2 = copy(df1[11:end, :])

20×4 DataFrame
│ Row │ x1        │ x2        │ x3       │ x4        │
│     │ Float64   │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.500725  │ 0.682579  │ 0.324266 │ 0.925068  │
│ 2   │ 0.409968  │ 0.806625  │ 0.746908 │ 0.862063  │
│ 3   │ 0.146333  │ 0.708011  │ 0.509678 │ 0.959321  │
│ 4   │ 0.647078  │ 0.515411  │ 0.919232 │ 0.0566781 │
│ 5   │ 0.998546  │ 0.608607  │ 0.168084 │ 0.204646  │
│ 6   │ 0.495394  │ 0.887999  │ 0.605675 │ 0.0257907 │
│ 7   │ 0.654293  │ 0.494824  │ 0.778229 │ 0.647767  │
│ 8   │ 0.834909  │ 0.0895199 │ 0.150454 │ 0.893931  │
│ 9   │ 0.415662  │ 0.34124   │ 0.344408 │ 0.334824  │
│ 10  │ 0.182757  │ 0.52376   │ 0.377464 │ 0.307514  │
│ 11  │ 0.836482  │ 0.661835  │ 0.149005 │ 0.129393  │
│ 12  │ 0.438327  │ 0.833012  │ 0.538435 │ 0.727883  │
│ 13  │ 0.689977  │ 0.498856  │ 0.369212 │ 0.322866  │
│ 14  │ 0.372259  │ 0.937867  │ 0.500337 │ 0.574287  │
│ 15  │ 0.294863  │ 0.956888  │ 0.344757 │ 0.694646  │
│ 16  │ 0.696311  │ 0.610266  │ 0.929902 │ 0.523705  │
│ 17  │ 0.332355  │ 0.0296453 │ 0.520697 │ 0.223059  │
│ 18  │ 0.415085  │ 0.685393  │ 0.613    │ 0.873127  │
│ 19  │ 0.603624  │ 0.677079  │ 0.144613 │ 0.627157  │
│ 20  │ 0.0443766 │ 0.695753  │ 0.465207 │ 0.746626  │

In [43]:
# Question 4: Calculate a simple descriptive statistics on df2 using the describe() function
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.500466 │ 0.0443766 │ 0.46686  │ 0.998546 │         │
│ 2   │ x2       │ 0.612258 │ 0.0296453 │ 0.669457 │ 0.956888 │         │
│ 3   │ x3       │ 0.474978 │ 0.144613  │ 0.482772 │ 0.929902 │         │
│ 4   │ x4       │ 0.533018 │ 0.0257907 │ 0.600722 │ 0.959321 │         │

In [58]:
# Question 5: Add a column named cat1 to df2 consisting of a random selection
#of 20 values from the sample space "GroupA" and "GroupB"
df2[:cat1] = rand(["Group A", "Group B"], 20)
first(df2, 5)

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[58]:1
└ @ Core In[58]:1

5×5 DataFrame
│ Row │ id       │ var1     │ var2     │ var3      │ cat1    │
│     │ Float64  │ Float64  │ Float64  │ Float64   │ String  │
├─────┼──────────┼──────────┼──────────┼───────────┼─────────┤
│ 1   │ 0.500725 │ 0.682579 │ 0.324266 │ 0.925068  │ Group B │
│ 2   │ 0.409968 │ 0.806625 │ 0.746908 │ 0.862063  │ Group A │
│ 3   │ 0.146333 │ 0.708011 │ 0.509678 │ 0.959321  │ Group B │
│ 4   │ 0.647078 │ 0.515411 │ 0.919232 │ 0.0566781 │ Group A │
│ 5   │ 0.998546 │ 0.608607 │ 0.168084 │ 0.204646  │ Group B │

In [59]:
# Question 6: Create a new dataframe df3 with columns named "id", "var4" and "var5"
df3 = DataFrame(id = df2[:id], var4 = rand(20), var5 = rand(20));
first(df3, 5)

5×3 DataFrame
│ Row │ id       │ var4      │ var5     │
│     │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼───────────┼──────────┤
│ 1   │ 0.820704 │ 0.223431  │ 0.870504 │
│ 2   │ 0.218171 │ 0.879718  │ 0.309381 │
│ 3   │ 0.490954 │ 0.213974  │ 0.698279 │
│ 4   │ 0.825234 │ 0.86578   │ 0.261362 │
│ 5   │ 0.50986  │ 0.0747477 │ 0.901623 │

In [63]:
# Question 7: Join df2 and df3 on the ID column
# and save the results as a new dataframe named df4 (hint: you can use innerjoin).
#Have to rename the columns from df2 as they were not given names
#Also because col id in both df2 and df3 are randomly generated, have to copy the vals of df2 to df3 as a generated df
df3 = DataFrame(id = df2[:id], var4 = rand(20), var5 = rand(20));
rename!(df2, [:id, :var1, :var2, :var3, :cat1])
df4 = innerjoin(df2, df3, on=:id)
df4

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[63]:1
└ @ Core In[63]:1

20×7 DataFrame. Omitted printing of 1 columns
│ Row │ id        │ var1      │ var2     │ var3      │ cat1    │ var4     │
│     │ Float64   │ Float64   │ Float64  │ Float64   │ String  │ Float64  │
├─────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┤
│ 1   │ 0.500725  │ 0.682579  │ 0.324266 │ 0.925068  │ Group B │ 0.325875 │
│ 2   │ 0.409968  │ 0.806625  │ 0.746908 │ 0.862063  │ Group A │ 0.540227 │
│ 3   │ 0.146333  │ 0.708011  │ 0.509678 │ 0.959321  │ Group B │ 0.460347 │
│ 4   │ 0.647078  │ 0.515411  │ 0.919232 │ 0.0566781 │ Group A │ 0.150717 │
│ 5   │ 0.998546  │ 0.608607  │ 0.168084 │ 0.204646  │ Group B │ 0.36424  │
│ 6   │ 0.495394  │ 0.887999  │ 0.605675 │ 0.0257907 │ Group A │ 0.705102 │
│ 7   │ 0.654293  │ 0.494824  │ 0.778229 │ 0.647767  │ Group A │ 0.513076 │
│ 8   │ 0.834909  │ 0.0895199 │ 0.150454 │ 0.893931  │ Group A │ 0.785725 │
│ 9   │ 0.415662  │ 0.34124   │ 0.344408 │ 0.334824  │ Group B │ 0.55088  │
│ 10  │ 0.182757  │ 0.52376   │ 0.377464 │ 0.307514  │ Group A │ 0.69824  │
│ 11  │ 0.836482  │ 0.661835  │ 0.149005 │ 0.129393  │ Group A │ 0.655107 │
│ 12  │ 0.438327  │ 0.833012  │ 0.538435 │ 0.727883  │ Group B │ 0.393965 │
│ 13  │ 0.689977  │ 0.498856  │ 0.369212 │ 0.322866  │ Group B │ 0.70366  │
│ 14  │ 0.372259  │ 0.937867  │ 0.500337 │ 0.574287  │ Group A │ 0.748712 │
│ 15  │ 0.294863  │ 0.956888  │ 0.344757 │ 0.694646  │ Group B │ 0.323301 │
│ 16  │ 0.696311  │ 0.610266  │ 0.929902 │ 0.523705  │ Group A │ 0.265199 │
│ 17  │ 0.332355  │ 0.0296453 │ 0.520697 │ 0.223059  │ Group B │ 0.110523 │
│ 18  │ 0.415085  │ 0.685393  │ 0.613    │ 0.873127  │ Group B │ 0.521984 │
│ 19  │ 0.603624  │ 0.677079  │ 0.144613 │ 0.627157  │ Group B │ 0.507998 │
│ 20  │ 0.0443766 │ 0.695753  │ 0.465207 │ 0.746626  │ Group A │ 0.53437  │